<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydgj.oms.system.mapper.SysExportPaymentMapper">
    
    <resultMap type="SysExportPayment" id="SysExportPaymentResult">
        <result property="exportPaymentId"    column="export_payment_id"    />
        <result property="exportReceivePaymentId"    column="export_receive_payment_id"    />
        <result property="freightFee"    column="freight_fee"    />
        <result property="otherFee"    column="other_fee"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <association property="exportReceivePayment" column="export_receive_payment_id" javaType="SysExportReceivePayment" resultMap="SysExportReceivePaymentResult" />
        <association property="exportOrder" column="export_order_id" javaType="SysExportOrder" resultMap="SysExportOrderResult" />
        <association property="org" column="org_id" javaType="SysOrg" resultMap="orgResult"/>
        <association property="tradeWay" column="trade_way_id" javaType="SysTradeWay" resultMap="tradeWayResult"/>
        <association property="currency" column="currency_id" javaType="SysCurrency" resultMap="currencyResult"/>
        <association property="check" column="check_id" javaType="SysCheck" resultMap="checkResult"/>
        <association property="customsBroker" column="customs_broker_id" javaType="SysCustomsBroker" resultMap="customsBrokerResult"/>

    </resultMap>

    <resultMap type="SysExportReceivePayment" id="SysExportReceivePaymentResult">
        <result property="exportReceivePaymentId"    column="export_receive_payment_id"    />
        <result property="exportOrderId"    column="export_order_id"    />
        <result property="freightFee"    column="freight_fee"    />
        <result property="customsFee"    column="customs_fee"    />
        <result property="advancePaymentFee"    column="advance_payment_fee"    />
        <result property="invoiceAmount"    column="invoice_amount"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <resultMap type="SysExportOrder" id="SysExportOrderResult">
        <result property="exportOrderId"    column="export_order_id"    />
        <result property="flightNumber"    column="flight_number"    />
        <result property="orgId"    column="org_id"    />
        <result property="branchOrder"    column="branch_order"    />
        <result property="quantity"    column="quantity"    />
        <result property="weight"    column="weight"    />
        <result property="tradeWayId"    column="trade_way_id"    />
        <result property="currencyId"    column="currency_id"    />
        <result property="amountDeclared"    column="amount_declared"    />
        <result property="checkId"    column="check_id"    />
        <result property="customsCode"    column="customs_code"    />
        <result property="orderDate"    column="order_date"    />
        <result property="releaseDate"    column="release_date"    />
        <result property="serialNumber"    column="serial_number"    />
        <result property="customsBrokerId"    column="customs_broker_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="productQuantity"    column="product_quantity"    />
        <result property="manualNumber"    column="manual_number"    />
    </resultMap>

    <resultMap type="SysCheck" id="checkResult">
        <result property="checkId" column="check_id"/>
        <result property="checkName" column="check_name"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <resultMap type="SysCurrency" id="currencyResult">
        <result property="currencyId"    column="currency_id"    />
        <result property="currencyName"    column="currency_name"    />
        <result property="currencyCode"    column="currency_code"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <resultMap type="SysCustomsBroker" id="customsBrokerResult">
        <result property="customsBrokerId"    column="customs_broker_id"    />
        <result property="customsBrokerName"    column="customs_broker_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <resultMap type="SysOrg" id="orgResult">
        <result property="orgId"    column="org_id"    />
        <result property="orgName"    column="org_name"    />
        <result property="orgShort"    column="org_short"    />
        <result property="address"    column="address"    />
        <result property="postCode"    column="post_code"    />
        <result property="telephone"    column="telephone"    />
        <result property="description"    column="description"    />
        <result property="corporation"    column="corporation"    />
        <result property="corporationPhone"    column="corporation_phone"    />
        <result property="corporationIdCard"    column="corporation_id_card"    />
        <result property="registeredAddress"    column="registered_address"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="county"    column="county"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <resultMap type="SysTradeWay" id="tradeWayResult">
        <result property="tradeWayId"    column="trade_way_id"    />
        <result property="tradeWayName"    column="trade_way_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysExportPaymentVo">
        select ep.export_payment_id, ep.export_receive_payment_id, ep.freight_fee, ep.other_fee, ep.status, ep.create_by, ep.create_time, ep.update_by, ep.update_time, ep.remark,
               erp.export_receive_payment_id, erp.export_order_id, erp.freight_fee, erp.customs_fee, erp.advance_payment_fee, erp.invoice_amount, erp.status, erp.create_by, erp.create_time, erp.update_by, erp.update_time, erp.remark,
               eo.export_order_id, eo.flight_number, eo.org_id, eo.branch_order, eo.quantity, eo.weight, eo.trade_way_id, eo.currency_id, eo.amount_declared, eo.check_id, eo.customs_code, eo.release_date, eo.serial_number, eo.customs_broker_id, eo.create_by, eo.create_time, eo.update_by, eo.update_time, eo.remark,eo.product_quantity, eo.manual_number, eo.order_date,
               tw.trade_way_id, tw.trade_way_name, tw.remark,
               o.org_id, o.org_name, o.remark,
               cb.customs_broker_id, cb.customs_broker_name, cb.remark,
               cy.currency_id, cy.currency_name, cy.remark,
               ck.check_id, ck.check_name, ck.remark
        from sys_export_payment ep
            left join sys_export_receive_payment erp on ep.export_receive_payment_id = erp.export_receive_payment_id
            left join sys_export_order eo on erp.export_order_id = eo.export_order_id
            left join sys_trade_way tw on tw.trade_way_id = eo.trade_way_id
            left join sys_org o on o.org_id = eo.org_id
            left join sys_customs_broker cb on cb.customs_broker_id = eo.customs_broker_id
            left join sys_currency cy on cy.currency_id = eo.currency_id
            left join sys_check ck on ck.check_id = eo.check_id
    </sql>

    <select id="selectSysExportPaymentList" parameterType="SysExportPayment" resultMap="SysExportPaymentResult">
        <include refid="selectSysExportPaymentVo"/>
        <where>
            <if test="params.branchOrder != null  and params.branchOrder != ''"> and eo.branch_order = #{branchOrder}</if>
            <if test="exportReceivePaymentId != null "> and ep.export_receive_payment_id = #{exportReceivePaymentId}</if>
            <if test="freightFee != null "> and ep.freight_fee = #{freightFee}</if>
            <if test="otherFee != null "> and ep.other_fee = #{otherFee}</if>
            <if test="status != null  and status != ''"> and ep.status = #{status}</if>
        </where>
    </select>
    
    <select id="selectSysExportPaymentByExportPaymentId" parameterType="Long" resultMap="SysExportPaymentResult">
        <include refid="selectSysExportPaymentVo"/>
        where ep.export_payment_id = #{exportPaymentId}
    </select>
        
    <insert id="insertSysExportPayment" parameterType="SysExportPayment" useGeneratedKeys="true" keyProperty="exportPaymentId">
        insert into sys_export_payment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="exportReceivePaymentId != null">export_receive_payment_id,</if>
            <if test="freightFee != null">freight_fee,</if>
            <if test="otherFee != null">other_fee,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="exportReceivePaymentId != null">#{exportReceivePaymentId},</if>
            <if test="freightFee != null">#{freightFee},</if>
            <if test="otherFee != null">#{otherFee},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysExportPayment" parameterType="SysExportPayment">
        update sys_export_payment
        <trim prefix="SET" suffixOverrides=",">
            <if test="exportReceivePaymentId != null">export_receive_payment_id = #{exportReceivePaymentId},</if>
            <if test="freightFee != null">freight_fee = #{freightFee},</if>
            <if test="otherFee != null">other_fee = #{otherFee},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where export_payment_id = #{exportPaymentId}
    </update>

    <delete id="deleteSysExportPaymentByExportPaymentId" parameterType="Long">
        delete from sys_export_payment where export_payment_id = #{exportPaymentId}
    </delete>

    <delete id="deleteSysExportPaymentByExportPaymentIds" parameterType="String">
        delete from sys_export_payment where export_payment_id in 
        <foreach item="exportPaymentId" collection="array" open="(" separator="," close=")">
            #{exportPaymentId}
        </foreach>
    </delete>

    <delete id="deleteSysExportPaymentByExportReceivePaymentIds">
        delete from sys_export_payment where export_receive_payment_id in
        <foreach item="ExportReceivePaymentIds" collection="array" open="(" separator="," close=")">
            #{exportReceivePaymentId}
        </foreach>
    </delete>
</mapper>