<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydgj.oms.system.mapper.SysExportOrderMapper">
    
    <resultMap type="SysExportOrder" id="SysExportOrderResult">
        <result property="exportOrderId"    column="export_order_id"    />
        <result property="flightNumber"    column="flight_number"    />
        <result property="orgId"    column="org_id"    />
        <result property="branchOrder"    column="branch_order"    />
        <result property="quantity"    column="quantity"    />
        <result property="weight"    column="weight"    />
        <result property="tradeWayId"    column="trade_way_id"    />
        <result property="currencyId"    column="currency_id"    />
        <result property="amountDeclared"    column="amount_declared"    />
        <result property="checkId"    column="check_id"    />
        <result property="customsCode"    column="customs_code"    />
        <result property="orderDate"    column="order_date"    />
        <result property="releaseDate"    column="release_date"    />
        <result property="serialNumber"    column="serial_number"    />
        <result property="customsBrokerId"    column="customs_broker_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="productQuantity"    column="product_quantity"    />
        <result property="manualNumber"    column="manual_number"    />
        <association property="org" column="org_id" javaType="SysOrg" resultMap="orgResult"/>
        <association property="tradeWay" column="trade_way_id" javaType="SysTradeWay" resultMap="tradeWayResult"/>
        <association property="currency" column="currency_id" javaType="SysCurrency" resultMap="currencyResult"/>
        <association property="check" column="check_id" javaType="SysCheck" resultMap="checkResult"/>
        <association property="customsBroker" column="customs_broker_id" javaType="SysCustomsBroker" resultMap="customsBrokerResult"/>
    </resultMap>

    <resultMap type="SysCheck" id="checkResult">
        <result property="checkId" column="check_id"/>
        <result property="checkName" column="check_name"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <resultMap type="SysCurrency" id="currencyResult">
        <result property="currencyId"    column="currency_id"    />
        <result property="currencyName"    column="currency_name"    />
        <result property="currencyCode"    column="currency_code"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <resultMap type="SysCustomsBroker" id="customsBrokerResult">
        <result property="customsBrokerId"    column="customs_broker_id"    />
        <result property="customsBrokerName"    column="customs_broker_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <resultMap type="SysOrg" id="orgResult">
        <result property="orgId"    column="org_id"    />
        <result property="orgName"    column="org_name"    />
        <result property="orgShort"    column="org_short"    />
        <result property="address"    column="address"    />
        <result property="postCode"    column="post_code"    />
        <result property="telephone"    column="telephone"    />
        <result property="description"    column="description"    />
        <result property="corporation"    column="corporation"    />
        <result property="corporationPhone"    column="corporation_phone"    />
        <result property="corporationIdCard"    column="corporation_id_card"    />
        <result property="registeredAddress"    column="registered_address"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="county"    column="county"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <resultMap type="SysTradeWay" id="tradeWayResult">
        <result property="tradeWayId"    column="trade_way_id"    />
        <result property="tradeWayName"    column="trade_way_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysExportOrderVo">
        select eo.export_order_id, eo.flight_number, eo.org_id, eo.branch_order, eo.quantity, eo.weight, eo.trade_way_id, eo.currency_id, eo.amount_declared, eo.check_id, eo.customs_code, eo.release_date, eo.serial_number, eo.customs_broker_id, eo.create_by, eo.create_time, eo.update_by, eo.update_time, eo.remark,eo.product_quantity, eo.manual_number, eo.order_date,
               tw.trade_way_id, tw.trade_way_name, tw.remark,
               o.org_id, o.org_name, o.remark,
               cb.customs_broker_id, cb.customs_broker_name, cb.remark,
               cy.currency_id, cy.currency_name, cy.remark,
               ck.check_id, ck.check_name, ck.remark
        from sys_export_order eo
                 left join sys_trade_way tw on tw.trade_way_id = eo.trade_way_id
                 left join sys_org o on o.org_id = eo.org_id
                 left join sys_customs_broker cb on cb.customs_broker_id = eo.customs_broker_id
                 left join sys_currency cy on cy.currency_id = eo.currency_id
                 left join sys_check ck on ck.check_id = eo.check_id
    </sql>

    <select id="selectSysExportOrderList" parameterType="SysExportOrder" resultMap="SysExportOrderResult">
        <include refid="selectSysExportOrderVo"/>
        <where>  
            <if test="flightNumber != null  and flightNumber != ''"> and flight_number = #{flightNumber}</if>
            <if test="orgId != null "> and org_id = #{orgId}</if>
            <if test="branchOrder != null  and branchOrder != ''"> and branch_order = #{branchOrder}</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="weight != null "> and weight = #{weight}</if>
            <if test="tradeWayId != null "> and trade_way_id = #{tradeWayId}</if>
            <if test="currencyId != null "> and currency_id = #{currencyId}</if>
            <if test="amountDeclared != null "> and amount_declared = #{amountDeclared}</if>
            <if test="checkId != null "> and check_id = #{checkId}</if>
            <if test="customsCode != null  and customsCode != ''"> and customs_code = #{customsCode}</if>
            <if test="releaseDate != null "> and release_date = #{releaseDate}</if>
            <if test="serialNumber != null  and serialNumber != ''"> and serial_number = #{serialNumber}</if>
            <if test="customsBrokerId != null "> and customs_broker_id = #{customsBrokerId}</if>
        </where>
    </select>
    
    <select id="selectSysExportOrderByExportOrderId" parameterType="Long" resultMap="SysExportOrderResult">
        <include refid="selectSysExportOrderVo"/>
        where eo.export_order_id = #{exportOrderId}
    </select>
        
    <insert id="insertSysExportOrder" parameterType="SysExportOrder" useGeneratedKeys="true" keyProperty="exportOrderId">
        insert into sys_export_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="flightNumber != null">flight_number,</if>
            <if test="orgId != null">org_id,</if>
            <if test="branchOrder != null">branch_order,</if>
            <if test="quantity != null">quantity,</if>
            <if test="productQuantity != null">product_quantity,</if>
            <if test="weight != null">weight,</if>
            <if test="tradeWayId != null">trade_way_id,</if>
            <if test="manualNumber != null">manual_number,</if>
            <if test="currencyId != null">currency_id,</if>
            <if test="amountDeclared != null">amount_declared,</if>
            <if test="checkId != null">check_id,</if>
            <if test="customsCode != null">customs_code,</if>
            <if test="orderDate != null">order_date,</if>
            <if test="releaseDate != null">release_date,</if>
            <if test="serialNumber != null">serial_number,</if>
            <if test="customsBrokerId != null">customs_broker_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="flightNumber != null">#{flightNumber},</if>
            <if test="orgId != null">#{orgId},</if>
            <if test="branchOrder != null">#{branchOrder},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="productQuantity != null">#{productQuantity},</if>
            <if test="weight != null">#{weight},</if>
            <if test="tradeWayId != null">#{tradeWayId},</if>
            <if test="manualNumber != null">#{manualNumber},</if>
            <if test="currencyId != null">#{currencyId},</if>
            <if test="amountDeclared != null">#{amountDeclared},</if>
            <if test="checkId != null">#{checkId},</if>
            <if test="customsCode != null">#{customsCode},</if>
            <if test="orderDate != null">#{orderDate},</if>
            <if test="releaseDate != null">#{releaseDate},</if>
            <if test="serialNumber != null">#{serialNumber},</if>
            <if test="customsBrokerId != null">#{customsBrokerId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysExportOrder" parameterType="SysExportOrder">
        update sys_export_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="flightNumber != null">flight_number = #{flightNumber},</if>
            <if test="orgId != null">org_id = #{orgId},</if>
            <if test="branchOrder != null">branch_order = #{branchOrder},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="productQuantity != null">product_quantity = #{productQuantity},</if>
            <if test="weight != null">weight = #{weight},</if>
            <if test="tradeWayId != null">trade_way_id = #{tradeWayId},</if>
            <if test="manualNumber != null">manual_number = #{manualNumber},</if>
            <if test="currencyId != null">currency_id = #{currencyId},</if>
            <if test="amountDeclared != null">amount_declared = #{amountDeclared},</if>
            <if test="checkId != null">check_id = #{checkId},</if>
            <if test="customsCode != null">customs_code = #{customsCode},</if>
            <if test="orderDate != null">order_date = #{orderDate},</if>
            <if test="releaseDate != null">release_date = #{releaseDate},</if>
            <if test="serialNumber != null">serial_number = #{serialNumber},</if>
            <if test="customsBrokerId != null">customs_broker_id = #{customsBrokerId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where export_order_id = #{exportOrderId}
    </update>

    <delete id="deleteSysExportOrderByExportOrderId" parameterType="Long">
        delete from sys_export_order where export_order_id = #{exportOrderId}
    </delete>

    <delete id="deleteSysExportOrderByExportOrderIds" parameterType="String">
        delete from sys_export_order where export_order_id in 
        <foreach item="exportOrderId" collection="array" open="(" separator="," close=")">
            #{exportOrderId}
        </foreach>
    </delete>

    <select id="selectSysExportOrderByMasterOrderAndBranchOrder" parameterType="SysExportOrder" resultMap="SysExportOrderResult">
        <include refid="selectSysExportOrderVo"/>
        <where>
            <if test="branchOrder != null  and branchOrder != ''"> and branch_order = #{branchOrder}</if>
        </where>
    </select>
</mapper>